@use '../abstract/variaveis';
@use '../abstract/mixins';

.secao_depoimento {
    background-color: #C3191908;
    font-family: variaveis.$fonte-padrao;
    text-align: center;
    padding: 64px;
    border-radius: 16px;
    width: 85%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 32px;

    span {
        color: variaveis.$cor-primaria;
        font-size: 14px;
        font-weight: 600;
    }

    p {
        color: variaveis.$cor-terciaria;
        font-size: 36px;
        font-weight: 500;
    }

    .depoimento_informacoes {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .depoimento_img {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
            position: relative;

            img {
                height: 100%;
                position: absolute;
                left: -15px;
            }
        }

        .informacoes_nome {
            color: variaveis.$cor-terciaria;
            font-weight: 500;
        }

        .informacoes_cargo {
            color: variaveis.$cor-secundaria;
            font-weight: 400;
        }
    }
}

@media (max-width:600px) {
    .secao_depoimento {

        p {
            font-size: 26px;
        }
    }
}