@use 'abstract/variaveis';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: variaveis.$gradiente-primario;
    padding: 2rem;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
    }

    .linha {
        border-top: 1px solid black;
        width: 80%;
    }

    ul {
        display: inline-flex;
        gap: 2rem;

        li {
            list-style-type: none;
        }
        a {
            text-decoration: none;
            color: variaveis.$cor-primaria;
            font-weight: 500;
            font-family: variaveis.$ft-textos;
        }
    }
  }

  #home {
    max-width: 1040px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .textos-home {
        max-width: 464px;
        h1 {
            font-size: 42px;
            color: $cor-primaria;
            margin-bottom: 2rem;
            font-family: $ft-titulos;
            span {
                color: $cor-secundaria;
            }
        }
    }

    .img-home {
        max-width: 474px;
        img {
            width: 100%;
        }
    }

    .btn-main {
        width: 280px;
        height: 66px;
        border-radius: 40px;
        background-color: variaveis.$cor-secundaria;
        font-family: variaveis.$ft-textos;
        font-weight: 600;
        font-size: 22px;
        color: variaveis.$cor-quartenaria;
        border: none;
    }

    .btn-main:hover {
        cursor: pointer;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.432);
    }
  }