@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727c5;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

.cabecalho {
    padding: 2% 0px 0px 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5em;
    color: var(--cor-terciaria);
    text-decoration: none;
    position: relative;
}

/* efeito */

.cabecalho__menu__link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--cor-terciaria);
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.cabecalho__menu__link:hover::before {
    width: 100%;
}

/* ----- */

body {
    width: 100vw;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.apresentacao__imagem {
    width: 40%;
    border-radius: 5%;
    border: 2px solid var(--cor-terciaria);
    padding: 10px;
    margin-top: 5em;
}

.apresentacao {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 5% 15%;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25em;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5em;
}

.apresentacao__conteudo__texto a {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto a:hover {
    text-decoration: underline;
}

.apresentacao__conteudo__texto li {
    margin-bottom: 1em;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5em;
}

.apresentacao__links_navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5em;
    padding: 10px 0px;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links_navegacao:hover {
    background-color: var(--cor-hover);
    padding: 10px;
    transition-duration: 300ms;
}

.rodape {
    background-color: var(--cor-terciaria);
    text-align: center;
    color: var(--cor-primaria);
    padding: .25em;
    font-family: var(--fonte-secundaria);
    font-size: 1em;
}

.rodape a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.rodape a:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
        padding-bottom: 0;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 15px;
    }

    .cabecalho__menu a {
        font-size: 1em;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__imagem {
        width: 80%;
        border-radius: 7%;
        margin-top: 10px;
    }

    .apresentacao__conteudo {
        width: 70vw;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.75em;
    }

    .apresentacao__conteudo__texto{
        font-size: 1em;
    }

    .apresentacao__links_navegacao {
        width: 100%;
    }
}