@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

.cabecalho {
    padding: 2% 0px 0px 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-terciaria);
    text-decoration: none;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.apresentacao__foto {
    height: 50vh;
    border-radius: 5%;
    border: 2px solid var(--cor-terciaria);
    padding: 5px;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 15%;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 36px;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
}

.apresentacao__conteudo__texto a {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 24px;
}

.apresentacao__links_link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 10px 0px;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links_link:hover {
    background-color: var(--cor-hover);
    padding: 10px;
    transition-duration: 300ms;
}

.rodape {
    background-color: var(--cor-terciaria);
    text-align: center;
    color: var(--cor-primaria);
    padding: 23px;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
}